/*publicLESS/CSS 仅用于导入到其他的less文件 不作为css样式编译引入*/

@blue:#489CFF;  //蓝色
@white:#fff;    //白色
@green:#21D3AC; //绿色
@gay:#BAB7BD;   //灰色
@black:#023156; //偏黑色
@yellow:#FF8038;//橘黄色
.bgc-fa{
    background-color: #FAFAFA;
}
.line-height(@size){
    height: @size;
    line-height: @size;
}
.border-radius(@radius){
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}
.transition(@t:.3s){
      transition: all @t ease-in-out 0s;
      -webkit-transition: all @t ease-in-out 0s;
      -moz-transition: all @t ease-in-out 0s;
      -ms-transition: all @t ease-in-out 0s;
      -o-transition: all @t ease-in-out 0s;
}
.btn{
   .border-radius(4px);
   background-color: #489CFF;
   color: #fff;
   text-align: center;          
}



.ft(@size){
    font-size:@size;
}
.box-shadow(@x,@y,@z,@color){
    box-shadow:@x @y @z @color ;
}
.ft30{
    font-size: 30px;
}
.ft26{
    font-size: 26px;
}
.ft20{
    font-size: 20px;
}
.ft16{
    font-size: 16px;
}
.ft13{
    font-size: 13px;
}
.ft11{
    font-size: 11px;
}
.ml10{
    margin-left: 10px;
}
.mr10{
    margin-right: 10px;
}
.mr20{
    margin-right: 20px;
}
.mr35{
    margin-right: 35px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}